div {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 20px;
}

h2 {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.delete {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.edit {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
